#itemView {
   min-width: 100%;
   background-color: rgba(236, 236, 236, 0.425);
   border-radius: 10px;
}

.infoItem {
  margin-left: auto;
}

.imgDiv{
  margin-left: 20px;
  max-height: 100px;
}

.row{
  max-width: 100%;
}
